<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>PMT Login</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>InsertUserServlet</servlet-name>
		<servlet-class>servlets.InsertUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertUserServlet</servlet-name>
		<url-pattern>/insertUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchUsersServlet</servlet-name>
		<servlet-class>servlets.SearchUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchUsersServlet</servlet-name>
		<url-pattern>/searchUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListAllUsersServlet</servlet-name>
		<servlet-class>servlets.ListAllUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAllUsersServlet</servlet-name>
		<url-pattern>/listAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessProfileServlet</servlet-name>
		<url-pattern>/accessProfile</url-pattern>
	</servlet-mapping>
</web-app>