@charset "ISO-8859-1";

#header1 {
	background-color: #004080;
	
	color: white;
	text-align: center;
	text-shadow: 2px 2px black;
	padding: 10px;
	max-width: 500px;
	margin-top: 80px;
	float: center;
	margin-left: auto;
	margin-right:auto;
	border: 1px solid rgba(0, 0, 0, 0.5);

}

#footer1 {
	background-color: #004080;
	color: white;
	text-align: center;
	padding: 10px;
	max-width: 500px;
	float: center;
	margin-left: auto;
	margin-right:auto;
	border: 1px solid rgba(0, 0, 0, 0.5);

}

 footer#footer {
	background-color: #004080;
	color: white;
	text-align: center;
	padding: 10px;
	min-width: 1200px;
	margin-left: auto;
	margin-right:auto;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	
}

header#header {
	 text-shadow: 2px 2px black;
	background-color: #004080;
	color: white;
	text-align: center;
	padding: 50px;
	min-width: 1200px;
	margin-left: auto;
	margin-right:auto;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	border-bottom: 1px solid #ffffff;
	
}

body {

	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arail,  Sans-serif;
	
}

h2, h3, h4, h5 {
	text-align: center;
	padding: 7px;
	border-color: grey;
	margin-top: 0;
}

th, td {
	border-bottom: 1px solid #ddd;
}


#buttons {
	overflow: hidden;
	
}

#buttons a, form {
	float: center;
	display: block;
	text-align: left;

}

.buttons {
	position: fixed;
	top: 40;
	right: 0;
	font-size: 17px;
	
}
#createbtn {
		background-color: #004080;
	color:white;
    padding: 3px 15px;
    text-align: auto;
    font-size: 17px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 180px;
}

#createbtn:hover {
	background-color: #ffffff;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#deletebtn {
		background-color: #004080;
	color:white;
    padding: 3px 15px;
    text-align: auto;
    font-size: 17px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 180px;
}
#deletebtn:hover {
	background-color: #ffffff;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#error {
	text-align: center;
	color: red;
	padding: 10px;
	 background-color: #0080c0;
}

#createForm {
		margin-left: auto;
	margin-right: auto;
	background-color: #0080c0;
	width: 1000px;
	height:auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table#profile, table#results {
	border-style: ridge;
	border-width: 10px;
	padding: 10px;
	margin: auto;
	background-color: lightgrey;

}

 table#search, table#editProfile, table#createAccount {
	border-style: ridge;
	border-width: 10px;
	background-color: lightgrey;
	padding: 10px;
	margin: auto;
}

.spaceCenter {
	padding: 7px;
	text-align: center;
}

.spaceLeft {
	padding: 10px;
	text-align: center;
}

#home, #updateProfile, #search, #results,#delete{
	margin-left: auto;
	margin-right: auto;
	background-color: #0080c0;
	width: auto;
	height:auto;
}

#createAccount {
	margin-left: auto;
	margin-right: auto;
	padding-right: auto;
	 background-color: #0080c0;
	width: 100%;
}

#login {
  max-width: 520px;
  padding: 15px 0px 45px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);

  background-color: #0080c0;
}



input {
	background-color: #004080;
	color:white;
    padding: 3px 15px;
    text-align: auto;
    font-size: 17px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 180px;
}

input:hover {
	background-color: #ffffff;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	}

/* The side navigation menu */
.sidenav {
    height: 1150px; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #004080; /* Blue*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
