@charset "ISO-8859-1";

header#header, footer#footer {
	background-color: white;
	color: black;
	text-align: center;
	padding: 10px;
}

body {
	background-color: #DCDCDC;
	font-family: "Times New Roman", Times, serif;
}

h2, h3, h5 {
	text-align: center;
	padding: 10px;
}

#buttons {
	overflow: hidden;
}

#buttons a, form {
	float: top;
	display: block;
	text-align: right;
}

.buttons {
	position: fixed;
	top: 40;
	right: 0;
}

#error {
	text-align: center;
	color: red;
	padding: 10px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table#profile, table#results {
	border-style: ridge;
	border-width: 10px;
	padding: 10px;
	margin: auto;
}

table#login, table#search, table#editProfile, table#createAccount {
	border-style: ridge;
	border-width: 10px;
	background-color: white;
	padding: 10px;
	margin: auto;
}

.spaceCenter {
	padding: 7px;
	text-align: center;
}

.spaceLeft {
	padding: 5px;
	text-align: left;
}

#login, #home, #updateProfile, #search, #results, #createAccount {
	margin-left: auto;
	margin-right: auto;
}